# /etc/systemd/system/motu-api.service
[Unit]
Description=API for MOTU audio mixer
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/motu-client/
ExecStart=hypercorn -b localhost:5000 api:app
RestartSec=10
Restart=always
TimeoutSec=10

[Install]
WantedBy=multi-user.target
